<h2 class="headline--2">Manage your entire community<br> in a single system</h2>
<p class="body--2">Who is Nextcent suitable for?</p>
<div class="sections">
    <div class="section">
        <div class="icon-container">
            <div></div>
            <img src="{{Icon1}}" alt="Community Icon" class="icon" />
        </div>
        <h3 class="headline--3">Membership Organisations</h3>
        <p class="body--3">Our membership management software provides full automation of membership renewals and payments</p>
    </div>
    <div class="section">
        <div class="icon-container">
            <div></div>
            <img src="{{Icon2}}" alt="Community Icon" class="icon" />
        </div>
        <h3 class="headline--3">National Associations</h3>
        <p class="body--3">Our membership management software provides full automation of membership renewals and payments</p>
    </div>
    <div class="section">
        <div class="icon-container">
            <div></div>
            <img src="{{Icon3}}" alt="Community Icon" class="icon" />
        </div>
        <h3 class="headline--3">Clubs And Groups</h3>
        <p class="body--3">Our membership management software provides full automation of membership renewals and payments</p>
    </div>
</div>