:host{
    display: flex;
    text-align: left;

    background-color: var(--Neutral-Silver);

       
    > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        
        @include container;
        @include desktop {
            flex-direction: row;
        }
    }
    
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    p{
        @include body-1;
    }

}

h2{
    @include headline-2;
    span{
        color: var(--Brand-Primary);
        display: block;
    }
    color: var(--Neutral-D_Grey);
}

h3{
    @include body-2;
}


.achievements{
    display: flex;
    flex-direction: row;
    gap: 30px 40px;
    flex-wrap: wrap;
    width: 100%;
}

.achievement{
    width: -webkit-fill-available;
    max-width: 47%;
    display: flex;
    flex-direction: row;
    gap: 16px;

    h3{
        @include headline-3;
    }

    p{
        @include body-2;
        margin: 0px;
    }
}