
:host{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap:16px;
    
    @include container;
        
}

.clients{
    height: 98px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
        max-width: 98px;
    }
}

h2{
    @include headline-2;
    margin-bottom: 8px;
}

h3{
    @include body-2;
}