
:host{
    display: flex;
    align-items: center;
    height: 84px;
    background-color: var(--Neutral-Silver);
    > div{
        //padding: 0px 144px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        
        @include container;
    }
}

nav{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    @include desktop {
        display: inline-flex;
    }

    a{
        @include body-2;
        
        & {
            text-decoration: none;
            color: var(--Text-Gray-900);
        }
    }
}

.buttons{
    display: none;
    flex-direction: row;
    gap: 14px;
    
    @include tablet {
        display: flex;
    }
}