<div>
    <div>
        <img src="{{logo}}" alt="Logo" />
    </div>
    <nav>
        <a href="#">Home</a>
        <a href="#">Service</a>  
        <a href="#">Feature</a>
        <a href="#">Product</a>
        <a href="#">Testimonial</a>
        <a href="#">FAQ</a>


    </nav>
    <div class="buttons">
        <button-component href="http://www.google.com" label="Login" class="label" size="normal" icon="down" icon-position="left"></button-component>
        <button-component href="http://www.google.com" label="Sign Up" class="primary" size="normal" icon="down" icon-position="left"></button-component>
    </div>


</div>

