@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    AchievementsModule content = Model.Content as AchievementsModule;
    AchievementsModuleSettings settings = Model.Settings as AchievementsModuleSettings;
}
<!-- Achievements Module -->
<achievements-component>
<div>
    <div class="text">
        <h2>Helping a local <span>business reinvent itself</span></h2>
        <p>We reached here with our hard work and dedication</p>
    </div>

    <div class="achievements">
        <div class="achievement">
            <div>
                <img src="./assets/images/achievements/achievement1.png" alt="Achievement 1" />
            </div>
            <div>
                <h3>500+ Projects</h3>
                <p>We have successfully completed over 500 projects, showcasing our expertise and commitment to quality.</p>    
            </div>
        </div>    
    </div>

</div>

</achievements-component>
