@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    CommunityModule content = Model.Content as CommunityModule;
    CommunityModuleSettings settings = Model.Settings as CommunityModuleSettings;
}
<!-- Community Module -->
<community-component>
    <h2>@content.Heading</h2>
    <p>@content.Subheading</p>
    <div class="sections">
        @Html.GetBlockListHtml(content.CommunityMembers)
    </div>
</community-component>



