@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    HeroModule content = Model.Content as HeroModule;
    HeroModuleSettings settings = Model.Settings as HeroModuleSettings;
}
<!-- Hero Module -->
<hero-component>
    <div>
        <div class="text">
            <div>
                <h1>Lessons and insights <br><span>from 8 years</span></h1>
                <h2>Where to grow your business as a photographer: site or social media?</h2>
            </div>

            @Html.GetBlockListHtml(content.CallToAction)
        </div>
        <div>
            @if(content.Image != null && content.Image.Url() != null)
            {
                <img src="@content.Image.Url()" alt="Hero Image" />
            }

        </div>
    </div>
</hero-component>
