@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    ImageAndTextModule content = Model.Content as ImageAndTextModule;
    ImageAndTextModuleSettings settings = Model.Settings as ImageAndTextModuleSettings;
}
<!-- Image and Text Module -->
<imageandtext-component>
    <div>
        <img src="@content.Image.Url()" alt="Image" class="image" />
    </div>

    <div class="text">
        @if(!content.Heading.IsNullOrWhiteSpace()){
            <h2>@content.Heading</h2>
        }

        @if(!content.Description.IsNullOrWhiteSpace()){
            <p>@content.Description</p>
        }
        

        @Html.GetBlockListHtml(content.CallToAction)
    </div>
</imageandtext-component>
