@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    MenuModule content = Model.Content as MenuModule;
    MenuModuleSettings settings = Model.Settings as MenuModuleSettings;
}
<!-- Menu Module -->
<menu-component>
    <div>
        <div>
            <img src="{{logo}}" alt="Logo" />
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Service</a>  
            <a href="#">Feature</a>
            <a href="#">Product</a>
            <a href="#">Testimonial</a>
            <a href="#">FAQ</a>


        </nav>
        <div class="buttons">
            <button-component href="http://www.google.com" label="Login" class="label" size="normal" icon="down" icon-position="left"></button-component>
            <button-component href="http://www.google.com" label="Sign Up" class="primary" size="normal" icon="down" icon-position="left"></button-component>
        </div>
    </div>

</menu-component>

