@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@{
    MenuModule content = Model.Content as MenuModule;
    MenuModuleSettings settings = Model.Settings as MenuModuleSettings;
}
<!-- Menu Module -->
<menu-component>
    <div>
        <div>
            @if (content.Logo != null && content.Logo.Url() != null)
            {
                <img src="@content.Logo.Url()" alt="Logo" />
            }
        </div>
        <nav>
            @foreach (Link item in content.MenuItems)
            {
                <a href="@item.Url">@item.Name</a>
            }

        </nav>
        <div class="buttons">
            @Html.GetBlockListHtml(content.CallToAction)
        </div>
    </div>

</menu-component>

