:host{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    @include container;
    @include desktop{
        flex-direction: row;
    }
    

}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

h2{
    margin-bottom: 16px;
    @include headline-2;
}

p{
    margin-bottom: 32px;
    @include body-3;
}