@use '../../global/styles/shadows.scss' as *;
:host{
    display: flex;
    text-align: left;
    @include container;
    padding: 0px 144px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    

}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

h2{
    margin-bottom: 16px;
    @include headline-2;
}

p{
    margin-bottom: 32px;
    @include body-3;
}