:host {
    display: flex;
    text-align: left;
    background-color: var(--Neutral-Silver);

    > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap:32px;
        
        @include container;
    }
}

h2{
    @include headline-1;
}
