<div>
    <div class="column1">
        <img src="{{logo}}" alt="Logo" class="logo" />
        <div>
            <p>Copyright © 2020 Nexcent ltd.</p>
            <p>All rights reserved</p>
        </div>
    
        <div class="social-links">
            <a href="#"><img src="{{insta}}"></a>
            <a href="#"><img src="{{dribble}}"></a>
            <a href="#"><img src="{{twitter}}"></a>
            <a href="#"><img src="{{youtube}}"></a>
        </div>
    </div>
    <div class="column2">
        <div>
            <h2>Company</h2>
            <div class="links">
                <a href="#">About Us</a>
                <a href="#">Blog</a>
                <a href="#">Contact Us</a>
                <a href="#">Pricing</a>
                <a href="#">Testimonials</a>
            </div>
        </div>
        <div>
            <h2>Support</h2>
            <div class="links">
                <a href="#">Help Center</a>
                <a href="#">Terms of Service</a>
                <a href="#">Legal</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
        <div>
            <h2>Stay up to date</h2>
            <form id="newsletter-form">
                <div class="input-container">
                    <input name="email" type="email" placeholder="Your email address" required />
                </div>
            </form>

        </div>
    </div>
</div>