:host {
    display: flex;
    text-align: left;
    background-color: var(--Neutral-Black);

    > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        
        @include container;
        >div{
            display: flex;
            flex-direction: column;
        }
    }
}

.column1 {
    display: flex;
    gap:40px;
    flex-direction: column;
}

.column2 {
    display: flex;
    flex-direction: column;
}