:host{
    background-color: var(--Neutral-Silver);
    display: flex;
    flex-direction: column;
    

    > div{
        @include container;
        display: flex;
        gap:104px;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
        align-items: center;
        gap: 104px;
        align-self: stretch;
        justify-content: space-between;
        
        
    }
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div{
        margin-bottom:32px;
    }
}

h1{
    @include headline-1;
    span{
        color: var(--Brand-Primary);
    }
}

h2{
    @include body-2;
}

img{
    width: 100%;
}