// @use './components/mycomponent/MyComponent.scss';
@use './global/styles/base.scss';
@use './global/styles/variables.scss';
@use './global/styles/typography.scss';
@use './global/styles/shadows.scss';


$umb: false !default; // fallback
$notUmb: not $umb;




// menu-component::part(div){
//     h1{
//         color: red;
//     }
// }



$components: 
    'hero', 
    'menu', 
    'clients';

@each $component in $components {
    umb-#{$component}-component:not(:defined) {
        display: none;
    }
    @if $notUmb {
        #{$component}-component:not(:defined) {
            display: none;
        }
    }
}