@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject UmbracoWebcomponents.Services.HeaderFooterService HeaderFooterService
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Components Vite Project</title>
  <script type="module" crossorigin src="/assets/index.js"></script>
  <link rel="stylesheet" href="/assets/index.css">
</head>
<body>



@{
    var header = HeaderFooterService.GetHeader();
    // Use header as needed
}

@if (header != null)
{
	@Html.GetBlockListHtml(header)
}

@RenderBody()
        


    
</body>
</html>
