
//container mixin
@mixin container {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fill-available;
  padding: 48px 32px;
  
  @include desktop(){
    max-width: 1440px;
    padding: 48px 144px;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
