:root{
    // Neutral Colors
    --Neutral-Black: #263238;
    --Neutral-D_Grey: #4D4D4D;
    --Neutral-Grey: #717171;
    --Neutral-L_Grey: #89939E;
    --Neutral-Grey_Blue: #ABBED1;
    --Neutral-Silver: #F5F7FA;
    --Neutral-White: #FFF;

    // Primary Colors
    --Brand-Primary: #4CAF4F;
    --Brand-Secondary: #263238;
    --Brand-Info: #2194F3;

    // Color Shade
    --Shade-S1: #43A046;
    --Shade-S2: #388E3B;
    --Shade-S3: #237D31;
    --Shade-S4: #1B5E1F;
    --Shade-S5: #103E13;

    // Color Tint
    --Tint-T1: #66BB69;
    --Tint-T2: #81C784;
    --Tint-T3: #A5D6A7;
    --Tint-T4: #C8E6C9;
    --Tint-T5: #E8F5E9;

    // Action
    --Action-Warning: #FF9800;
    --Action-Error: #E53835;
    --Action-Success: #2E7D31;

    // Typography
    --Text-Gray-900: #18191F;
}